.nav {
  background-color: rgb(136, 221, 136);
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}

.heading,
.nav h1 {
  padding-top: 25px;
  font-size: xx-large;
  font-family: 'Lobster', cursive;
  color: rgb(68, 66, 66);
  letter-spacing: 3px;
}

.heading {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0 20px 0 20px;
  }
}
